@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0;
  font-size: 18px;
  font-family: Gilroy;
  color: #070707;
  font-weight: 700;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

/*Container*/

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 255px;
}

.header.fixed {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.header.fixed {
  position: fixed;
  height: auto;
  background-color: #fff;
}

.main__lang.show {
  position: absolute;
  z-index: 1000;
}

.main__lang.show.fixed {
  position: fixed;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 255px;
}

/*Burger*/

.burger {
  display: none;
  padding: 9px 2px;
  outline: none;
  background: none;
  border: 0;
  cursor: pointer;
}

.burger__item {
  display: block;
  width: 28px;
  height: 3px;
  background-color: black;
  font-size: 0;
  position: absolute;
  right: 255px;
  top: 80px;
}

.burger__item:before,
.burger__item:after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  right: 0;
  z-index: 1;
  transition: 0.1s;
}

.burger__item:before {
  width: 28px;
  top: -8px;
}

.burger__item:after {
  width: 28px;
  bottom: -8px;
}

.burger__item.active:before {
  display: none;
}

.burger__item.active {
  transform: rotate(-45deg) translateY(-10px);
}

.burger__item.active:after {
  transform: rotate(90deg) translateX(-7px);
}

.nav__links {
  text-decoration: none;
  color: #828282;
  transition: color 0.1s linear;
}

.nav__links:hover {
  color: #070707;
}

.nav::after {
  content: "";
  position: absolute;
  width: 62%;
  height: 0px;
  top: 87.94px;
  border: 1px solid #828282;
}

.main__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__title {
  margin: 40px 0 30px 0;
  font-size: 47.34px;
  font-weight: 700;
  line-height: 1.2em;
}

.main__rtitle {
  margin: 95px 0 45px 0;
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 500;
}

.main__lang {
  font-size: 16px;
  font-weight: 700;
  transform: rotate(-90deg);
  color: #070707;
  text-decoration: none;
}

.main__lang span {
  color: #828282;
}

.main__bg {
  max-width: 52, 38em;
  width: 100%;
  margin-bottom: 100px;
}

.media__mainbg {
  max-width: 52, 38em;
  width: 100%;
  margin-bottom: 100px;
  display: none;
}

.about {
  padding: 110px 0;
  text-align: center;
  background-color: #F6F6F6;
}

.about__title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 17px;
}

.about__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about__text {
  font-size: 18px;
  line-height: 1.2em;
  font-weight: 500;
}

.skills {
  margin: 100px 0;
  text-align: center;
}

.skills__title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 69px;
}

.skills__subtitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 83px;
}

.skills__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.skills__item {
  width: 25%;
}

.skills__img {
  margin-bottom: 24px;
}

.skills__name {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.2;
  color: #828282;
  margin-bottom: 40px;
}

.skills_links {
  text-decoration: none;
}

.skills__star {
  width: 26px;
  height: 26px;
  margin-right: 9px;
}

.portfolio {
  padding: 100px 0;
  background-color: #f6f6f6;
  text-align: center;
}

.portfolio__title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 47px;
}

.portfolio__column {
  display: flex;
  flex-direction: column;
}

.portfolio__item {
  margin-bottom: 100px;
}

.portfolio__imgs {
  text-align: center;
}

.portfolio__img {
  max-width: 936, 24px;
  width: 100%;
  margin-bottom: 45px;
  transition: border 0.06s;
}

.portfolio__img:hover {
  border: #070707 2px solid;
}

.portfolio__link {
  font-size: 18px;
  font-weight: 500;
  color: #070707;
  transition: opacity 0.1s linear;
}

.portfolio__link:hover {
  opacity: 0.7;
}

.contacts {
  margin: 100px 0;
  text-align: center;
}

.contacts__title {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 20px;
}

.contacts__subtitle {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
  margin-bottom: 30px;
}

.contacts__btn {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: #070707;
  padding: 16px 60px;
  border-radius: 25px;
  transition: padding 0.2s linear;
}

.contacts__btn:hover {
  padding: 17px 70px;
}

.contacts__btn.fixed {
  transform: translate(120px, 50%);
}

footer {
  margin: 100px 430px;
  text-align: center;
}

.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.footer__item {
  width: 25%;
  margin-bottom: 45px;
}

.footer__icon {
  width: 41px;
  height: 41px;
  transition: background 0.05s linear, border 0.1s linear;
}

.footer__icon:hover {
  padding: 1px;
  background-color: #070707;
  border-radius: 5px;
  fill: #fff;
}

.footer__text {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 500;
  color: #828282;
}

.eng.new {
  color: #070707;
}

.ru.new {
  color: #070707;
}

@media (max-width: 2561px) {
  .nav::after {
    width: 80%;
  }

  .footer__item {
    width: 10%;
    padding: 0 200px;
  }
}

@media (max-width: 1441px) {
  .nav::after {
    width: 62%;
  }

  .footer__item {
    width: 25%;
    padding: 0;
  }
}

@media (max-width: 1024px) {
  .nav::after {
    width: 51%;
  }

  .skills__item {
    width: 50%;
    margin-bottom: 50px;
  }

  .footer__item {
    width: 25%;
  }
}

@media (max-width: 768px) {
  .burger {
    display: block;
  }

  .nav {
    display: none;
    width: 100%;
    flex-direction: column;
    text-align: left;
    position: absolute;
    background-color: #fff;
  }

  .nav.show {
    display: flex;
  }

  .nav.show::after {
    display: none;
  }

  .main__lang {
    position: absolute;
    left: 15%;
    top: 15%;
    display: none;
  }

  .main__lang.show {
    display: block;
  }

  .main__inner {
    flex-direction: column;
    justify-content: none;
    align-items: flex-start;
  }

  .main__rtitle {
    margin-top: 0;
  }

  .skills__item {
    width: 100%;
    margin-bottom: 50px;
  }

  .main__bg {
    display: none;
  }

  .media__mainbg {
    display: block;
  }

  footer {
    margin: 100px 0;
  }

  .contacts__btn {
    padding: 15px 30px;
  }

  .contacts__btn:hover {
    padding: 17px 31px;
  }
}

@media (max-width: 425px) {
  .skills__item {
    width: 100%;
  }

  .container {
    padding: 0 30px;
  }

  .nav {
    right: -20%;
  }

  .burger__item {
    right: 50px;
  }
}

@media (max-width: 320px) {
  .main__lang {
    left: 7%;
  }
}